.scott{
	font-family:'Sanchez',serif;
text-align: center ;
}

.main{
   font-family: 'Raleway',sans-serif;
   text-align : center;
   margin: 40px;	



}

.responsive-img{
	 display: block;
	width:400px;
 margin-left: auto;
 margin-right: auto;
}


h1, h2{

font-family: "Open Sans",Helvetica,Arial,sans-serif;
font-weight: 700;
line-height: 1.3;
color:inherit;

}